/*!****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/react-responsive-carousel/lib/styles/carousel.min.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************/
.carousel .control-arrow,.carousel.carousel-slider .control-arrow{transition:all .25s ease-in;opacity:.4;filter:alpha(opacity=40);position:absolute;z-index:2;top:20px;background:none;border:0;font-size:32px;cursor:pointer}.carousel .control-arrow:focus,.carousel .control-arrow:hover{opacity:1;filter:alpha(opacity=100)}.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before{margin:0 5px;display:inline-block;border-top:8px solid transparent;border-bottom:8px solid transparent;content:''}.carousel .control-disabled.control-arrow{opacity:0;filter:alpha(opacity=0);cursor:inherit;display:none}.carousel .control-prev.control-arrow{left:0}.carousel .control-prev.control-arrow:before{border-right:8px solid #fff}.carousel .control-next.control-arrow{right:0}.carousel .control-next.control-arrow:before{border-left:8px solid #fff}.carousel-root{outline:none}.carousel{position:relative;width:100%}.carousel *{box-sizing:border-box}.carousel img{width:100%;display:inline-block;pointer-events:none}.carousel .carousel{position:relative}.carousel .control-arrow{outline:0;border:0;background:none;top:50%;margin-top:-13px;font-size:18px}.carousel .thumbs-wrapper{margin:20px;overflow:hidden}.carousel .thumbs{transition:all .15s ease-in;transform:translate3d(0, 0, 0);position:relative;list-style:none;white-space:nowrap}.carousel .thumb{transition:border .15s ease-in;display:inline-block;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}.carousel .thumb:focus{border:3px solid #ccc;outline:none}.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333}.carousel .thumb img{vertical-align:top}.carousel.carousel-slider{position:relative;margin:0;overflow:hidden}.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}.carousel.carousel-slider .control-arrow:hover{background:rgba(0,0,0,0.2)}.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;transition:height .15s ease-in}.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-moz-flex;display:flex}.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-moz-flex;display:flex}.carousel .slider-wrapper.axis-vertical .slider{flex-direction:column}.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}.carousel .slider.animated{transition:all .35s ease-in-out}.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center}.carousel .slide img{width:100%;vertical-align:top;border:0}.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}.carousel .slide .legend{transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:#000;color:#fff;padding:10px;font-size:12px;text-align:center;opacity:0.25;transition:opacity .35s ease-in-out}.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;padding:0;text-align:center;width:100%;z-index:1}@media (min-width: 960px){.carousel .control-dots{bottom:0}}.carousel .control-dots .dot{transition:opacity .25s ease-in;opacity:.3;filter:alpha(opacity=30);box-shadow:1px 1px 2px rgba(0,0,0,0.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1;filter:alpha(opacity=100)}.carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,0.9);color:#fff}.carousel:hover .slide .legend{opacity:1}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/chat.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.chat_header__wuZ5B {
  font-weight: bold;
  color: #2a62a1;
}

.chat_stickyHeader__lC8kz {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.chat_navbarItem__7Mno7 {
  list-style-type: none;
}

.chat_navbarLeft__3ymjH,
.chat_navbarRight__9rJr7 {
  display: flex;
}

.chat_navbarRight__9rJr7 { height: 50px;}
.chat_navbarLink__5hFc8 {
  text-decoration: none;
  color: #627faa;
  margin-left: 20px;
  margin-right: 20px;
}

.chat_navbarLink__5hFc8:hover {
  color: #1f4f85
}

.chat_logo__rTzV1 {
  width: 90px;
  height: 50px;
  margin-left: 10px;
}




.chat_role__yNZ_B {
  font-weight: bold;
  margin-right: 5px;
  color: #4A90E2;
}

.chat_chatContainer__EcwHF {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f3e8;
  height: 500px;
  width: 800px;
  overflow-y: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat_messageContainer__48vOm {
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat_message__iGHuv {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.chat_userMessage__feyiO {
  background-color: #d7e9f7;
}

.chat_assistantMessage__b3VOX {
  background-color: #d5d9f7;
}

.chat_searchContainer__xuDnr {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
  max-width: 800px;
  margin-top: 80px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
  margin: 0 auto;

}

.chat_chatInput__DdfNf {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-right: 10px;
}

.chat_searchButton__qO_9E {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.chat_sendIcon__sCs_z {
  width: 20px;
  height: 20px;
  color: #4A90E2;
}

.chat_chatInput__DdfNf:focus {
  outline: none;
  border-color: #aaa;
}

/* Media query for smaller screens */
@media only screen and (max-width: 640px) {
  .chat_chatContainer__EcwHF {
    width: 100%;
    /* Adjust width for smaller screens */
  }

  .chat_searchContainer__xuDnr {
    max-width: 100%;
    /* Adjust max-width for smaller screens */
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/chatpage.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.chatpage_mainContainer__K8Xf1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-bottom: 10vh;
}
